body{
background: linear-gradient(to right, #A50044, #004D98);
}

h1{
  color: white;
  background: gradient-color(to left, #004D98, #A50044 );
  text-align: center;
}

#FCBLOGO{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 500px;
	    height: auto;
}
}




